<div ng-include="'layout/table.html'" ng-show="table.show" class="fullcover" ng-controller="table"></div>
<div ng-include="'layout/youtube.html'" ng-show="youtube.show" class="fullcover" ng-controller="youtube"></div>
<div ng-include="'layout/explorer.html'" ng-show="explorer.show" class="fullcover"></div>
<div ng-include="'layout/history.html'" ng-show="history.show" class="fullcover"></div>
<div ng-include="'layout/picture.html'" ng-show="picture.show" class="fullcover" ng-controller="picture"></div>
<div ng-include="'layout/tex.html'" ng-show="texbox.show" class="fullcover" ng-controller="tex" onload="init()"></div>
<div ng-include="'layout/map.html'" ng-show="map.show" class="fullcover" ng-controller="map"></div>
<div ng-include="'layout/account.html'" ng-show="accountBox.show" class="fullcover" ng-controller="account"></div>
<div ng-include="'layout/proxy.html'" ng-show="proxyBox.show" class="fullcover" ng-controller="proxy"></div>
<div ng-include="'layout/allmeta.html'" ng-show="metaBox.show" class="fullcover" ng-controller="meta"></div>
<div ng-include="'layout/config.html'" ng-show="configBox.show" class="fullcover" ng-controller="config"></div>
<div ng-include="'layout/loading.html'" ng-show="loading.show" class="fullcover"></div>
<div ng-include="'layout/messagebox.html'" ng-show="messagebox.show" class="fullcover"></div>