<div id="table">
    <div class="titlebar"><i class="fa fa-table"></i>Table<i class="icon ion-ios-close-empty" ng-click="close()"></i></div>
    <div class="tableSizing">
        <table ng-class="tableClass" ng-mouseleave="tableClass=''">
            <tbody>
                <tr>
                    <td ng-mouseover="tableClass='r1 c1'"></td>
                    <td ng-mouseover="tableClass='r1 c2'" ng-click="insertTable(1, 2)"></td>
                    <td ng-mouseover="tableClass='r1 c3'" ng-click="insertTable(1, 3)"></td>
                    <td ng-mouseover="tableClass='r1 c4'" ng-click="insertTable(1, 4)"></td>
                    <td ng-mouseover="tableClass='r1 c5'" ng-click="insertTable(1, 5)"></td>
                    <td ng-mouseover="tableClass='r1 c6'" ng-click="insertTable(1, 6)"></td>
                    <td ng-mouseover="tableClass='r1 c7'" ng-click="insertTable(1, 7)"></td>
                    <td ng-mouseover="tableClass='r1 c8'" ng-click="insertTable(1, 8)"></td>
                    <td ng-mouseover="tableClass='r1 c9'" ng-click="insertTable(1, 9)"></td>
                    <td ng-mouseover="tableClass='r1 c10'" ng-click="insertTable(1, 10)"></td>
                </tr>
                <tr>
                    <td ng-mouseover="tableClass='r2 c1'" ng-click="insertTable(2, 1)"></td>
                    <td ng-mouseover="tableClass='r2 c2'" ng-click="insertTable(2, 2)"></td>
                    <td ng-mouseover="tableClass='r2 c3'" ng-click="insertTable(2, 3)"></td>
                    <td ng-mouseover="tableClass='r2 c4'" ng-click="insertTable(2, 4)"></td>
                    <td ng-mouseover="tableClass='r2 c5'" ng-click="insertTable(2, 5)"></td>
                    <td ng-mouseover="tableClass='r2 c6'" ng-click="insertTable(2, 6)"></td>
                    <td ng-mouseover="tableClass='r2 c7'" ng-click="insertTable(2, 7)"></td>
                    <td ng-mouseover="tableClass='r2 c8'" ng-click="insertTable(2, 8)"></td>
                    <td ng-mouseover="tableClass='r2 c9'" ng-click="insertTable(2, 9)"></td>
                    <td ng-mouseover="tableClass='r2 c10'" ng-click="insertTable(2, 10)"></td>
                </tr>
                <tr>
                    <td ng-mouseover="tableClass='r3 c1'" ng-click="insertTable(3, 1)"></td>
                    <td ng-mouseover="tableClass='r3 c2'" ng-click="insertTable(3, 2)"></td>
                    <td ng-mouseover="tableClass='r3 c3'" ng-click="insertTable(3, 3)"></td>
                    <td ng-mouseover="tableClass='r3 c4'" ng-click="insertTable(3, 4)"></td>
                    <td ng-mouseover="tableClass='r3 c5'" ng-click="insertTable(3, 5)"></td>
                    <td ng-mouseover="tableClass='r3 c6'" ng-click="insertTable(3, 6)"></td>
                    <td ng-mouseover="tableClass='r3 c7'" ng-click="insertTable(3, 7)"></td>
                    <td ng-mouseover="tableClass='r3 c8'" ng-click="insertTable(3, 8)"></td>
                    <td ng-mouseover="tableClass='r3 c9'" ng-click="insertTable(3, 9)"></td>
                    <td ng-mouseover="tableClass='r3 c10'" ng-click="insertTable(3, 10)"></td>
                </tr>
                <tr>
                    <td ng-mouseover="tableClass='r4 c1'" ng-click="insertTable(4, 1)"></td>
                    <td ng-mouseover="tableClass='r4 c2'" ng-click="insertTable(4, 2)"></td>
                    <td ng-mouseover="tableClass='r4 c3'" ng-click="insertTable(4, 3)"></td>
                    <td ng-mouseover="tableClass='r4 c4'" ng-click="insertTable(4, 4)"></td>
                    <td ng-mouseover="tableClass='r4 c5'" ng-click="insertTable(4, 5)"></td>
                    <td ng-mouseover="tableClass='r4 c6'" ng-click="insertTable(4, 6)"></td>
                    <td ng-mouseover="tableClass='r4 c7'" ng-click="insertTable(4, 7)"></td>
                    <td ng-mouseover="tableClass='r4 c8'" ng-click="insertTable(4, 8)"></td>
                    <td ng-mouseover="tableClass='r4 c9'" ng-click="insertTable(4, 9)"></td>
                    <td ng-mouseover="tableClass='r4 c10'" ng-click="insertTable(4, 10)"></td>
                </tr>
                <tr>
                    <td ng-mouseover="tableClass='r5 c1'" ng-click="insertTable(5, 1)"></td>
                    <td ng-mouseover="tableClass='r5 c2'" ng-click="insertTable(5, 2)"></td>
                    <td ng-mouseover="tableClass='r5 c3'" ng-click="insertTable(5, 3)"></td>
                    <td ng-mouseover="tableClass='r5 c4'" ng-click="insertTable(5, 4)"></td>
                    <td ng-mouseover="tableClass='r5 c5'" ng-click="insertTable(5, 5)"></td>
                    <td ng-mouseover="tableClass='r5 c6'" ng-click="insertTable(5, 6)"></td>
                    <td ng-mouseover="tableClass='r5 c7'" ng-click="insertTable(5, 7)"></td>
                    <td ng-mouseover="tableClass='r5 c8'" ng-click="insertTable(5, 8)"></td>
                    <td ng-mouseover="tableClass='r5 c9'" ng-click="insertTable(5, 9)"></td>
                    <td ng-mouseover="tableClass='r5 c10'" ng-click="insertTable(5, 10)"></td>
                </tr>
                <tr>
                    <td ng-mouseover="tableClass='r6 c1'" ng-click="insertTable(6, 1)"></td>
                    <td ng-mouseover="tableClass='r6 c2'" ng-click="insertTable(6, 2)"></td>
                    <td ng-mouseover="tableClass='r6 c3'" ng-click="insertTable(6, 3)"></td>
                    <td ng-mouseover="tableClass='r6 c4'" ng-click="insertTable(6, 4)"></td>
                    <td ng-mouseover="tableClass='r6 c5'" ng-click="insertTable(6, 5)"></td>
                    <td ng-mouseover="tableClass='r6 c6'" ng-click="insertTable(6, 6)"></td>
                    <td ng-mouseover="tableClass='r6 c7'" ng-click="insertTable(6, 7)"></td>
                    <td ng-mouseover="tableClass='r6 c8'" ng-click="insertTable(6, 8)"></td>
                    <td ng-mouseover="tableClass='r6 c9'" ng-click="insertTable(6, 9)"></td>
                    <td ng-mouseover="tableClass='r6 c10'" ng-click="insertTable(6, 10)"></td>
                </tr>
                <tr>
                    <td ng-mouseover="tableClass='r7 c1'" ng-click="insertTable(7, 1)"></td>
                    <td ng-mouseover="tableClass='r7 c2'" ng-click="insertTable(7, 2)"></td>
                    <td ng-mouseover="tableClass='r7 c3'" ng-click="insertTable(7, 3)"></td>
                    <td ng-mouseover="tableClass='r7 c4'" ng-click="insertTable(7, 4)"></td>
                    <td ng-mouseover="tableClass='r7 c5'" ng-click="insertTable(7, 5)"></td>
                    <td ng-mouseover="tableClass='r7 c6'" ng-click="insertTable(7, 6)"></td>
                    <td ng-mouseover="tableClass='r7 c7'" ng-click="insertTable(7, 7)"></td>
                    <td ng-mouseover="tableClass='r7 c8'" ng-click="insertTable(7, 8)"></td>
                    <td ng-mouseover="tableClass='r7 c9'" ng-click="insertTable(7, 9)"></td>
                    <td ng-mouseover="tableClass='r7 c10'" ng-click="insertTable(7, 10)"></td>
                </tr>
                <tr>
                    <td ng-mouseover="tableClass='r8 c1'" ng-click="insertTable(8, 1)"></td>
                    <td ng-mouseover="tableClass='r8 c2'" ng-click="insertTable(8, 2)"></td>
                    <td ng-mouseover="tableClass='r8 c3'" ng-click="insertTable(8, 3)"></td>
                    <td ng-mouseover="tableClass='r8 c4'" ng-click="insertTable(8, 4)"></td>
                    <td ng-mouseover="tableClass='r8 c5'" ng-click="insertTable(8, 5)"></td>
                    <td ng-mouseover="tableClass='r8 c6'" ng-click="insertTable(8, 6)"></td>
                    <td ng-mouseover="tableClass='r8 c7'" ng-click="insertTable(8, 7)"></td>
                    <td ng-mouseover="tableClass='r8 c8'" ng-click="insertTable(8, 8)"></td>
                    <td ng-mouseover="tableClass='r8 c9'" ng-click="insertTable(8, 9)"></td>
                    <td ng-mouseover="tableClass='r8 c10'" ng-click="insertTable(8, 10)"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>